.footer{

margin-top: 500px;
margin-top: 100px;
}
.footer__content{
    display: flex;
    justify-self: space-between;
    align-items: start;

}
.footer__list{
    display: flex;
    flex-direction: column;
    row-gap: 16px;

}
.footer__item{
    color: #2A2C1F;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
}
.footer__title{
    color: #2A2C1F;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.footer__discritoin
    
    
